extends layout

block content
  img(src='/images/mvlogo.jpg' id='movidaLogo' onClick='backToMain()')
  br
  h1#prevBTN.slideBTN < 
  h1#nextBTN.slideBTN >
  #container
  
  script(type="text/babel" src="/scripts/themesTest.js")
  