extends layout

block content
  img(src='./images/boton-01.png')#prevBTN.slideBTN
  img(src='./images/boton-01.png')#nextBTN.slideBTN
  #container
  
  script(type="text/babel" src="/scripts/movida_app.js")
  