doctype html
html
  head
    title= title
    //Import Bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //Import jQuery UI CSS
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    //Import Fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    //Custom Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/themeBox.css')
    link(rel='stylesheet', href='/stylesheets/postBody.css')
    
  body
    block content
  
  footer
    //Import REACT.JS library
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js")
    //Import BABEL
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js")
    //Import jQuery
    script(src="/scripts/jquery.min.js")
    //Import jQuery UI
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    //Import Boostrap
    script(src="/scripts/bootstrap.min.js")
    //Import Remarkable
    script(src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js")
    //Custom JS
    script(src="/scripts/logic.js")