body {
  padding: 50px;
  font: 14px "Montserrat";
  color: white;
  background-image: url('/images/background.png');
  text-align: center;
  overflow-x:hidden;
}

#movidaLogo:hover{
  cursor: pointer;
}

#listBackground{
  z-index: -10;
  position: fixed;
  top: 0px;
  left: 30%;
  width: 40%;
}

.listBody{
  width: 40%;
  margin-left: 30%;
  padding-bottom: 10px;
  display: none;
}

.postPreviewTitle {
  font-size: 26px;
}

.mainMenu{
  padding-top: 10px;
}

/*---------------------------Stilos para la animacion de transicion horizotnal---------------------------------*/
.active{
  display: block;
}

.fadeAway{
  margin-left: -20%;
  display: none;
  opacity: 0.1;
  height: 50%;
  width: 30%;
}

.fadeIn{
  margin-left: 60%;
  display: block;
  opacity: 0.1;
}

.fadeAwayLeft{
  margin-left: 80%;
  display: none;
  opacity: 0.1;
  height: 50%;
  width: 30%;
}

.fadeInLeft{
  margin-left: -20%;
  display: block;
  opacity: 0.1;
}

footer{
  width: 40%;
  position: fixed;
  bottom: 0px;
  left: 30%;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer i { 
  font-size: 12px;
}

footer .btn-social-icon {
  background-color: white;
  color: black;
}

/*------------------------------------------------------------------------------------------------------------*/

.mainMenuItem:hover{
  color: silver;
  cursor: pointer;
}

.themeBanner{
  width: 100%;
  height: 80%;
}

.postContent{
  text-align: justify;
  margin-right: 15px;
  margin-left: 15px;
}

.authorInfo{
  text-align: left;
  margin-left: 10px;
}



/*----------------------------------------------Slide Buttons----------------------------------------------------------*/

.slideBTN{
  font-family: helvetica;
  position: fixed;
  width: 40px;
  height: 50px;
  top: 50%;
  background-color: black;
  padding-top: 5px;
}

.slideBTN:hover{
  cursor: pointer;
}

#prevBTN{
  left: 100px;
}

#nextBTN{
  right: 100px;
}